<a href="https://colab.research.google.com/github/tcglarry/geo/blob/master/geo_ensemble_ch32_ch64_gram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
file_list = ['test_submit_0831_ch64_gram.csv','test_submit_0831_ch32_gram_2_best.csv',\
             'test_submit_0831_ch32.csv','test_submit_0831_3.csv']
new_df = pd.DataFrame()
new_list = []
for i, f in enumerate(file_list):
    test_file =  pd.read_csv(f)
    print ('length', len(test_file))
    print (test_file.keys())
    test_file.drop('ID', axis=1,inplace=True)
    col_names =  test_file.keys().tolist()
    test_matrix = test_file.values
    print ('test_matrix shape', test_matrix.shape)
    
    new_list.append(test_matrix)
    
new_matrix = np.array(new_list)
print (new_matrix.shape)

length 1800
Index(['ID', 'loc1', 'loc2', 'loc3', 'loc4', 'loc5', 'loc6', 'loc7', 'loc8',
       'loc9',
       ...
       'loc391', 'loc392', 'loc393', 'loc394', 'loc395', 'loc396', 'loc397',
       'loc398', 'loc399', 'loc400'],
      dtype='object', length=401)
test_matrix shape (1800, 400)
length 1800
Index(['ID', 'loc1', 'loc2', 'loc3', 'loc4', 'loc5', 'loc6', 'loc7', 'loc8',
       'loc9',
       ...
       'loc391', 'loc392', 'loc393', 'loc394', 'loc395', 'loc396', 'loc397',
       'loc398', 'loc399', 'loc400'],
      dtype='object', length=401)
test_matrix shape (1800, 400)
length 1800
Index(['ID', 'loc1', 'loc2', 'loc3', 'loc4', 'loc5', 'loc6', 'loc7', 'loc8',
       'loc9',
       ...
       'loc391', 'loc392', 'loc393', 'loc394', 'loc395', 'loc396', 'loc397',
       'loc398', 'loc399', 'loc400'],
      dtype='object', length=401)
test_matrix shape (1800, 400)
length 1800
Index(['ID', 'loc1', 'loc2', 'loc3', 'loc4', 'loc5', 'loc6', 'loc7', 'loc8',
       'loc9',
       ...
       'loc391', 'loc392', 'loc393', 'loc394', 'loc395', 'loc396', 'loc397',
       'loc398', 'loc399', 'loc400'],
      dtype='object', length=401)
test_matrix shape (1800, 400)
(4, 1800, 400)

In [0]:
mean_matrix = np.mean(new_matrix, axis=0)
mean_matrix.shape

(1800, 400)

In [0]:
val_matrix = pd.DataFrame(mean_matrix)
val_matrix.columns = col_names
val_matrix.head()

,loc1,loc2,loc3,loc4,loc5,loc6,loc7,loc8,loc9,loc10,...,loc391,loc392,loc393,loc394,loc395,loc396,loc397,loc398,loc399,loc400
0,2.610683,2.823496,0.984357,0.747512,0.632123,0.618116,0.671506,0.878181,1.231265,1.736370,...,18.245319,9.996576,3.385880,5.644106,5.244633,3.103323,4.372379,5.129082,6.523500,4.985991
1,6.569424,6.098949,3.892352,2.371663,1.752040,2.647711,1.889868,1.552065,0.994481,0.991857,...,2.031609,1.950340,1.435271,1.618097,1.378701,0.600997,0.892719,0.480498,0.454441,0.605346
2,4.751179,5.798896,3.616949,1.686551,0.488334,0.405457,0.642830,0.421214,0.562200,0.422715,...,1.715073,2.545969,2.042591,1.963509,1.392428,0.633694,0.814215,1.332895,1.506751,0.942966
3,2.160517,2.561330,1.403347,0.709383,0.297472,0.835220,2.288759,2.151580,1.079313,0.487291,...,2.359951,2.865462,8.886072,10.418040,11.226348,6.451076,6.106890,4.575226,2.895261,4.496919
4,0.221631,0.506873,0.753167,1.117810,0.694345,0.550272,1.810938,2.854685,2.677227,4.608454,...,8.077137,22.794842,32.628685,23.278188,16.921227,4.808189,2.240047,1.088062,4.786493,1.987191

In [0]:
test_file = pd.read_csv ('test_submit_0831_ch64_gram.csv')


ensemble_df = pd.concat([test_file.ID,val_matrix],axis=1)
ensemble_df.head()

,ID,loc1,loc2,loc3,loc4,loc5,loc6,loc7,loc8,loc9,...,loc391,loc392,loc393,loc394,loc395,loc396,loc397,loc398,loc399,loc400
0,F0000009,2.610683,2.823496,0.984357,0.747512,0.632123,0.618116,0.671506,0.878181,1.231265,...,18.245319,9.996576,3.385880,5.644106,5.244633,3.103323,4.372379,5.129082,6.523500,4.985991
1,F0000011,6.569424,6.098949,3.892352,2.371663,1.752040,2.647711,1.889868,1.552065,0.994481,...,2.031609,1.950340,1.435271,1.618097,1.378701,0.600997,0.892719,0.480498,0.454441,0.605346
2,F0000012,4.751179,5.798896,3.616949,1.686551,0.488334,0.405457,0.642830,0.421214,0.562200,...,1.715073,2.545969,2.042591,1.963509,1.392428,0.633694,0.814215,1.332895,1.506751,0.942966
3,F0000014,2.160517,2.561330,1.403347,0.709383,0.297472,0.835220,2.288759,2.151580,1.079313,...,2.359951,2.865462,8.886072,10.418040,11.226348,6.451076,6.106890,4.575226,2.895261,4.496919
4,F0000017,0.221631,0.506873,0.753167,1.117810,0.694345,0.550272,1.810938,2.854685,2.677227,...,8.077137,22.794842,32.628685,23.278188,16.921227,4.808189,2.240047,1.088062,4.786493,1.987191

In [0]:
ensemble_df.to_csv('test_submit_0901_ensemble_ch64_gram.csv',index=False)